<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="/assets/logoHommyS.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2 class="colorbranca textocenter">Cadastre sua República</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
      <ion-list>
        <ion-item class="ion-padding-top">
          <ion-input placeholder="Nome da República*" type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item-divider color="success">
          <ion-label>
            Preços
          </ion-label>
        </ion-item-divider>

        <ion-item class="ion-padding-top">
          <ion-input placeholder="Preço do Quarto Individual" type="text" formControlName="precoInd" [brmasker]="{money:true}"></ion-input>
        </ion-item>

        <ion-item class="ion-padding-top">
          <ion-input placeholder="Preço do Quarto Duplo" type="text" formControlName="precoDuplo" [brmasker]="{money:true}"></ion-input>
        </ion-item>

        <ion-item class="ion-padding-top">
          <ion-input placeholder="Preço do Quarto Triplo" type="text" formControlName="precoTriplo" [brmasker]="{money:true}"></ion-input>
        </ion-item>

        <ion-item-divider color="success">
          <ion-label>
            Endereço
          </ion-label>
        </ion-item-divider>

        <ion-item class="ion-padding-top">
          <ion-input placeholder="Cidade" type="text" formControlName="cidade"></ion-input>
        </ion-item>

        <ion-item class="ion-padding-top">
          <ion-input placeholder="Rua" type="text" formControlName="rua"></ion-input>
        </ion-item>

        <ion-item class="ion-padding-top">
          <ion-input placeholder="Número" type="text" formControlName="numero"></ion-input>
        </ion-item>

        <ion-row class="ion-justify-content-center">
          <ion-button type="submit" color="success" [disabled]="registerForm.invalid" shape="round">Cadastrar</ion-button>
        </ion-row>

      </ion-list>

    </form>
  </div>
</ion-content>
