<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="title">Repúblicas Favoritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="cardRepublic">
      <img class="imgcard" src="/assets/casa1.jpg" alt="">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Micael's Residence</ion-card-subtitle>
          </ion-col>

          <ion-col>
            <div class="ion-text-end">
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content class="inforepublica">
      <ion-grid>
        <ion-row>
          <ion-col>
            Cidade
          </ion-col>

    
          <ion-col>
            <div class="ion-text-end">
              Rio de Janeiro
            </div>  
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Preço
          </ion-col>

          <ion-col>
            <div class="ion-text-end">
              R$350,00
            </div>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="cardRepublic">
      <img class="imgcard" src="/assets/casa2.jpg" alt="">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Micael's Residence</ion-card-subtitle>
          </ion-col>

          <ion-col>
            <div class="ion-text-end">
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
            </div> 
          </ion-col>
        </ion-row>
      </ion-grid>
    
    </ion-card-header>
    <ion-card-content class="inforepublica">
      <ion-grid>
        <ion-row>
          <ion-col>
            Cidade
          </ion-col>

    
          <ion-col>
            <div class="ion-text-end">
              Rio de Janeiro
            </div>  
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Preço
          </ion-col>

          <ion-col>
            <div class="ion-text-end">
              R$270,00
            </div>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header class="cardRepublic">
      <img class="imgcard" src="/assets/casa3.jpg" alt="">

      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-card-subtitle>Micael's Residence</ion-card-subtitle>
          </ion-col>

          <ion-col>
            <div class="ion-text-end">
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
              <ion-icon class="icon" name="star"></ion-icon>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content class="inforepublica">
      <ion-grid>
        <ion-row>
          <ion-col>
            Cidade
          </ion-col>

    
          <ion-col>
            <div class="ion-text-end">
              Rio de Janeiro
            </div>  
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            Preço
          </ion-col>

          <ion-col>
            <div class="ion-text-end">
              R$300,00
            </div>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>
