.toolbar{
    --background:#048D6C;
}

.title{
    color: white;
    font-size: 1em;
}

.imgcard{
    width: 80vw;
    height: 25vh;
}

.icon{
    color: #FFA69E;
}

.inforepublica{
    color: #048D6C;
}