.colorverde{
    color: #048D6C;
}

.borderchip{
    border: 0.9px solid #FFA69E;
}

p{
    font-size: 1.1em;
}

h5{
    font-size: 1.4em;
    
}

.border{
    border-bottom: 0.8px solid #FFA69E;
    border-top: 0.8px solid #FFA69E;
}