

ion-content{
    --background: #26bd99;
}
.ion-padding{
    --padding: 20px;
}

.backgroundverde{
    background-color: #81dbc6;
}

.colorbranca{
    color: white;
}

.textocenter{
    text-align: center;
}

.divForm{
    --background: #26bd99;
}

