ion-content{
    --background: #26bd99;
}
.ion-padding{
    --padding: 20px;
}

.colorverde{
    color: #048D6C;
}

.rosacolor{
    color: #FFA69E;
}

.colorbranca{
    color: white;
}

.textocenter{
    text-align: center;
}