<ion-header>

  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="/assets/logoHommy.png" alt="">
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col>
        <div>
          <h4>Olá, fulano</h4>
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-end">
          <h4>Rio de Janeiro</h4>
          <ion-icon class="icon" name="pin"></ion-icon>
        </div>
      </ion-col>

    </ion-row>
  
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col class="colbusca">
        <ion-searchbar class="busca" placeholder="Busque aqui"></ion-searchbar>
      </ion-col>
    </ion-row>

  </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Perto de você</p>
        </ion-col>
      </ion-row>
    </ion-grid>
   
    <ion-card *ngFor="let republica of republicas" routerLink="/republica">

      <ion-card-header class="cardRepublic">
        <img src="/assets/casa1.jpg" alt="">
  
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-subtitle>{{republica.nome}}</ion-card-subtitle>
            </ion-col>
  
            <ion-col size="3" >
              <div>
                <ion-chip color="white" class="borderchip">
                  <ion-icon class="colorverde" name="star"></ion-icon>
                  <ion-label class="colorverde">
                    <h4>{{republica.avaliacao}}</h4>       
                  </ion-label>
                </ion-chip>
              </div>
              
            </ion-col>
          </ion-row>
  
          <ion-row class="colorverde">
            <ion-col>
              <div class="ion-text-start">
                <h5>Cidade</h5>
              </div>
                    
            </ion-col>
        
            
            <ion-col>
              <div class="ion-text-end">
                <h5>{{republica.cidade}}</h5>
              </div>  
            </ion-col>
          </ion-row>
          
        </ion-grid>
      </ion-card-header>
  
    
    </ion-card>          

  </ion-content>


