<ion-header>

  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="/assets/logoHommy.png" alt="">
  </ion-toolbar>

</ion-header>

<ion-content>

  <!--<ion-button (click)="gravarNome()" color="secondary"></ion-button> -->

  <ion-grid>
    <ion-row>

      <ion-col>
        <div>
          <h4>Olá, fulano</h4>
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-end">
          <h4>Rio de Janeiro</h4>
          <ion-icon class="icon" name="pin"></ion-icon>
        </div>
      </ion-col>

    </ion-row>
  
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col class="colbusca">
        <ion-searchbar class="busca" placeholder="Busque aqui"></ion-searchbar>
      </ion-col>
    </ion-row>

  </ion-grid>

   
  <ion-grid>
    <ion-row class=" ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding">
        <div class="ion-text-start divtitulo">
          <p class="colorverde">Bem avaliados</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
   
  
    <ion-slides  [options]="slideOpts">
      <ion-slide *ngFor="let republica of republicas">
        <app-card  [republica]="republica" (buttonPressed)="handleButtonEvent($event)" > </app-card>
      </ion-slide>
    </ion-slides>
     
     
     

  </ion-content>


