<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>República</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let republica of republicas">
  <ion-grid>

    <ion-row>
      <ion-col>
         <h4 class="textocenter">{{republica.nome}}</h4> 
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10" >
        <div >
          <img class="img" src="/assets/casa1.jpg" alt="">
        </div>
        
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-around">
      <ion-col  size="2">
        <div>
         
            <ion-icon size="large" (click)="alerta()" class="rosacolor" slot ="icon-only" name="heart"></ion-icon>
          
        </div>
           
      </ion-col>

      <ion-col size="3" >
        <div>
          <ion-chip color="white" class="borderchip">
            <ion-icon class="verdecolor" name="star"></ion-icon>
            <ion-label class="verdecolor">
              <h4>{{republica.avaliacao}}</h4>       
            </ion-label>
          </ion-chip>
        </div>
        
      </ion-col>

      <ion-col class="ion-float-end" size="1.7" >
        <div>
          
            <ion-icon size="large" (click)="presentToast()" class="rosacolor" slot ="icon-only" name="chatbubble-ellipses"></ion-icon>
         
        </div>
           
        
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
        <p class="textocenter"> {{republica.rua}}, {{republica.numero}} - {{republica.cidade}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center borderrow1">
      <ion-col >
        <p class="textocenter">{{republica.observacao}}</p>
      </ion-col>

      <ion-col>
        <a class="textocenter">Entre em contato com o locador.</a>
      </ion-col>
    </ion-row>
  
    

    <ion-row class="borderrow1">
      <ion-col>
        <h5 class="textocenter verdecolor">Individual</h5>
        <p class="textocenter">R${{republica.precoIndividual}}</p>
      </ion-col>

      <ion-col>
        <h5 class="textocenter verdecolor">Duplo</h5>
        <p class="textocenter">R${{republica.precoDuplo}}</p>
      </ion-col>

      <ion-col>
        <h5 class="textocenter verdecolor">Triplo</h5>
        <p class="textocenter">R${{republica.precoTriplo}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row >
      <ion-col>
        <h4 class="textocenter rosacolor">Comentários</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-thumbnail>
        <img src="/assets/hannah.jpeg">
      </ion-thumbnail>
      <ion-label>
        <h2>Hannah</h2>
        <p>Eu adoro esse lugar!</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail>
        <img src="/assets/Mikkel.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>Mikkel Nilsen</h2>
        <p>Faz lembrar a minha casa!</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail>
        <img src="/assets/Katharina.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>Katharina</h2>
        <p>É uma pena não poder cachorro!! :(</p>
      </ion-label>
    </ion-item>

    
  </ion-list>
</div>
</ion-content>
