.toolbar{
    --background:#048D6C;
}

.borderchip{
    border: solid #FFA69E;
}

.verdecolor{
    color: #048D6C;
}

.textocenter{
    text-align: center;
}

.rosacolor{
    color:#FFA69E;
}

.img{
    height: 100%;
    width: 100%;
}

.borderrow1{
   
    border-bottom: 1px solid #FFA69E;
}

.borderrow2{
    
    border-top: 1px solid #048D6C;
}

.bordercol{
    border: 2px solid #048D6C;
}